/*
Comment Way
*/

*{
    margin: 0;
    padding: 0;
}
body{
    background: #222;
    color: #fff;
    font-family: system-ui;
}
.cruds{
    width: 80%;
    margin: auto;
}
.head{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
.h2{
    text-align: center;
    text-transform: uppercase;
}
input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    background: #111;
    margin: 4px 0;
    border-radius: 10px;
    padding: 4px;
    color: #fff;
}
input:focus{
    background: #000;
    transform: scale(1.02);
}
.price input{
    width: 20%;
}
#total{
    background: #a50707;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before{
    content: 'Total: ';
}
button{
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: #470053;
    color: #fff;
}
button:hover{
    background: #800596;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btnSearch{
    display: flex;
    justify-content: space-between;
}
.btnSearch button{
    width: 45%;
}
table{
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th{
    text-transform: uppercase;
}
th,td{
    padding: 5px;
}
#DeleteAll{
    margin: 15px 0px;
}